.Prodotto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.todo{
    background-color: rgb(167, 198, 204);
    border-radius: 20px;
    width: 60vw;
    margin: 3vh auto;
}
.lat{
    margin-top: 4vh;
}
.imgLat{
    width: 5vw;
    height: 12vh;
    object-fit: cover;
    margin:  0.5vw 0;
    border-radius: 10px;
}
.Imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max(25vw);
    height: max(40vh);
    overflow: auto;
    margin: 2vw 0;
}
.cont{
    margin-top: 6vh;
    width: 15vw;
    text-align: end;
    color: black;
}
.imgProd{
    object-fit: cover;
    margin: 0 0.5vw;
    border-radius: 10px;
}
.carta{
    width: 17vw !important;
    border: 1px solid lightgray;
    margin: min(5vh) min(5vw);
    border-radius: 10px;
}
.carta:hover .overlay{
    bottom: 0;
    height: 100%;
}
.carte{
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto;
}
.img{
    height: 405px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.overlay{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: hsla(147, 4%, 54%, 0.603);
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    height: 0;
    transition: .5s ease;
}
.testoOver{
    white-space: nowrap; 
    color: black;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.numProd{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    width: max(3.5vw);
    height: max(21px);
    justify-content: space-between;
    margin:0 0.1px 0.5vw auto;
}
.numProd button{
    width: 22px;
    height: 22px;
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    border: 0;
}
.cart :hover{
    color: #f72585;
}