
<div class="carrello">
    <div>

        <ng-container *ngFor="let prod of prodotti; index as i">
            <div class="Prod">
                <img src="" alt="" id={{selectedCarrello.immagini1[i]}} class="img">
                <div class="cont">
                    <h2>{{selectedCarrello.prodottiNomi[i]}}</h2>
                    <h3>{{selectedCarrello.prodottiPrezzi[i] | currency:'EUR'}}</h3>
                    <div class="numProd">
                        <button (click)="ChangeNum(selectedCarrello.prodottiNum[i]-1, i)">-</button><p>{{selectedCarrello.prodottiNum[i]}}</p><button (click)="ChangeNum(selectedCarrello.prodottiNum[i]+1, i)">+</button>
                    </div>
                    <button class="btn btn-light" style="width: 8vw;" (click)="modifica(i,selectedCarrello.prodottiNames[i], selectedCarrello.prodottiNum[i])">Salva modifiche</button>
                    <h4 style="margin-top: 3vh;">Totale: {{selectedCarrello.prodottiPrezzi[i] * selectedCarrello.prodottiNum[i] | currency:'EUR'}}</h4>
                </div>
                <div class="cestino">
                    <i class="fa fa-trash" style="font-size: 2rem;cursor: pointer;" (click)="deleteProd(i)"></i>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="tot">
        <div class="cont">
            <h1>Carrello</h1>
            <ng-container *ngFor="let prod of prodotti; index as i">
                <p>{{selectedCarrello.prodottiNomi[i]}} ({{selectedCarrello.prodottiPrezzi[i] | currency:'EUR'}}) * {{selectedCarrello.prodottiNum[i]}} = {{selectedCarrello.prodottiPrezzi[i] * selectedCarrello.prodottiNum[i] | currency:'EUR'}}</p>
            </ng-container>
            <h4>Totale carrello: {{tot | currency:'EUR'}}</h4>
            <button class="btn btn-dark" style="margin-top: 2vh;">Acquista</button>
        </div>
    </div>
    
</div>