<div class="cart">
  <i class="fa fa-shopping-cart" style="cursor: pointer;" routerLink="/carrello"></i>
  <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-dark ms-1" role="button"
  ><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'AbpAccount::Login' | abpLocalization }}</a>
</div>
<div class="container">
  <img src="../assets/images/logo/logo-light.png" alt="">
  <h1>Benvenuto nell Eshop di vinili</h1>
 
  <div class="card" routerLink="/prodotti" style="margin-top: 10vh; cursor: pointer;" title="Visualizza prdotti">
    <div class="card-header">
      <h3 style="color: black;">
        Alcuni dei nostri prodotti
      </h3>
    </div>
    <div class="card-body">

    </div>
    <div class="carte" >
      <ng-container *ngFor="let prodotto of prodotti.items; index as i">
        <ng-container *ngIf="i < 3">
          <div class="card carta">
            <img src="" alt=""   id={{prodotto.immagine1}} class="img">
            <div class="card-body">
                <h3>{{prodotto.nome}}</h3>
                <h5>{{prodotto.prezzo | currency:'EUR'}}</h5>
                <p>{{prodotto.des}}</p>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>