<div class="cart">
    <i class="fa fa-shopping-cart" style="position: fixed; right: 1vw; top: 5.5vh; z-index: 1; font-size: 2em; cursor: pointer;" routerLink="/carrello"></i>
</div>

<h2 style="margin: 2vh 5vw; font-size: 3em; color: black;">
    Prodotti
</h2>
<div class="carte">
    <ng-container *ngFor="let prodotto of prodotto.items">
        <div class="card carta" routerLink="/prodotti/{{prodotto.id}}">
            <img src="" alt=""   id={{prodotto.immagine1}} class="img">
            <div class="overlay">
                <h3 class="testoOver">
                    Visualizza e acquista
                </h3>
            </div>
            <div class="card-body">
                <h3>{{prodotto.nome}}</h3>
                <h5>{{prodotto.prezzo | currency:'EUR'}}</h5>
                <p>{{prodotto.des}}</p>
            </div>
        </div>
    </ng-container>
</div>
    